<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {# {% block importmap %}{{ importmap('app') }}{% endblock %} #}
        {% endblock %}
    </head>
    <body>
        

<div class="container">
  <header class="blog-header py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-4 pt-1">
        <a class="link-secondary" href="#">Subscribe</a>
      </div>

      {% if is_granted('ROLE_ADMIN') %}
            <div class="col-4 text-center">
            <a class="blog-header-logo text-dark" href="#"> Zalogowany na: {{ app.user.email }}</a>
          </div>
      {% endif %}

      <div class="col-4 d-flex justify-content-end align-items-center">
        <a class="link-secondary" href="#" aria-label="Search">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img" viewBox="0 0 24 24"><title>Search</title><circle cx="10.5" cy="10.5" r="7.5"/><path d="M21 21l-5.2-5.2"/></svg>
        </a>
        <a class="btn btn-sm btn-outline-secondary" href="{{ path('admin') }}">{{'Panel'|trans}}</a>
        <a class="btn btn-sm btn-outline-secondary" href="{{ path('app_register') }}">{{'Register'|trans}}</a>
        <a class="btn btn-sm btn-outline-secondary ml-1" href="{{ path('app_login') }}">{{'Logowanie'|trans}}</a>
        <a class="btn btn-sm btn-outline-secondary ml-1" href="{{ path('app_logout') }}">{{'Wyloguj'|trans}}</a>

        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            {{ app.request.getLocale() }}
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{ path('homepage', {'_locale': 'en'}) }}">Angielski</a></li>
            <li><a class="dropdown-item" href="{{ path('homepage', {'_locale': 'pl'}) }}">Polski</a></li>
          </ul>
        </div>

      </div>
    </div>
  </header>

  <div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
      <a class="p-2 link-secondary" href="#">U.S.</a>
      <a class="p-2 link-secondary" href="#">Technology</a>
      <a class="p-2 link-secondary" href="#">Design</a>
      <a class="p-2 link-secondary" href="#">Culture</a>
      <a class="p-2 link-secondary" href="#">Business</a>
      <a class="p-2 link-secondary" href="#">Politics</a>
      <a class="p-2 link-secondary" href="#">Opinion</a>
      <a class="p-2 link-secondary" href="#">Science</a>
      <a class="p-2 link-secondary" href="#">Health</a>
      <a class="p-2 link-secondary" href="#">Style</a>
      <a class="p-2 link-secondary" href="#">Travel</a>
    </nav>
  </div>
</div>

<main class="container">
{% block body %}
  Strona główna
{% endblock %}
</main>




    </body>
</html>
